#main {
	text-align: center;
	padding: 10px
	font-size: 2em;
}

#main h1 {
	font-size: 5em;
	font-family: Comic Sans MS;
}
#story {
	font-size: 1.5em;
	font-family: Georgia, serif;
	padding: 40px;
}
label {
	font-size: 1.5em;
}

input {
	padding: 10px;
	margin: 5px;
	box-sizing: border-box;
	height: 5px
}

#select input {
	height: 15px;
	margin: 5px;
}

button {
	margin: 10px;
	font-size: 1em;
}

p {
	font-size: 1em;
	padding-left: 100px;
	padding-right: 100px;
	font-family: "Lucida Console", Monaco, monospace;
}

